absl-py==1.0.0
attrs==21.2.0
Brotli==1.0.9
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
cloudpickle==2.0.0
cycler==0.10.0
dash==2.0.0
dash-bootstrap-components==1.0.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dataclasses==0.6
Flask==2.0.2
Flask-Compress==1.10.1
google-auth==2.3.3
google-auth-oauthlib==0.4.6
googledrivedownloader==0.4
grpcio==1.41.1
gym==0.20.0
-e git+ssh://git@github.com/Lucien-MG/rl-trading-bot.git@230e627272e44e2b155f0e63c30c3ea7aa64b5ee#egg=gym_stock_exchange&subdirectory=gym/gym-stock_exchange
idna==3.3
importlib-metadata==4.8.1
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.2
kiwisolver==1.3.2
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.3.4
numpy==1.19.5
oauthlib==3.1.1
packaging==21.2
pandas==1.3.3
Pillow==8.3.2
plotly==5.3.1
pluggy==1.0.0
protobuf==3.19.1
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.7
pytest==6.2.5
python-dateutil==2.8.2
pytz==2021.1
PyYAML==6.0
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
six==1.16.0
tenacity==8.0.1
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
toml==0.10.2
torch==1.10.0
tqdm==4.62.3
typing-extensions==3.10.0.2
urllib3==1.26.7
Werkzeug==2.0.2
zipp==3.6.0
