<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <style>
      .header
      {
        border: 5px black groove;
        text-shadow: 2px 2px 10px;
        height: 90px;
        margin: 0;
      }
      h1
      {
        text-align: center;
      }
      select
      {
      }
    </style>
  </head>
  
  <body>
    <div class="header">
      <h1>Choose your agent !</h1>
    </div>
    <br>
    <br>
    <br>

    <form action="{{ url_for("index")}}" method="post">
    <center>
      <select name="agent">
        <option value="random">Random agent</option>
        <option value="deiss">Deiss agent</option>
      </select>

      <button type="submit" name="submit_button" value="start_agent">Start agent</button>
    </center>

    <br>
    <br>
    <p> Coucou lucien</p>
    <form action="{{ url_for("index")}}" method="post">
    <button type="submit" name="submit_button" value="view_value">View value</button>
        
        
   </body>
</html>

