{% extends 'base.html' %}

{% block navbar %}
{% include 'includes/navbar/login.html' %}
{% endblock %}

{% block content %}

<div class="d-flex justify-content-center align-items-center vh-100">

    <div class="jumbotron bg-secondary">
        <h3 class="title">Login</h3>

        <div class="box">
            <form method="POST" action="/login">

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus="">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="password" name="password" placeholder="Your Password">
                    </div>
                </div>

                <button class="btn btn-primary" type="submit">Login</button>
            </form>
        </div>
    </div>

</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{%- endblock scripts %}
