{% extends 'base.html' %}

{% block content %}
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <form class="card-body p-5 text-center" method="post">

                    <h3 class="mb-5 h2">Sign Up</h3>

                    {% include 'flash.html' %}

                    <div class="form-outline mb-4">
                        <input type="email" id="email" name="email" class="form-control form-control-lg" />
                        <label class="form-label" for="email">Email</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="name" id="name" name="name" class="form-control form-control-lg" />
                        <label class="form-label" for="name">Name</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="password" id="password" name="password" class="form-control form-control-lg" />
                        <label class="form-label" for="password">Password</label>
                    </div>

                    <div class="form-outline mb-4">
                        <a href="/login" class="link-primary">Login</a>
                    </div>

                    <button type="submit" class="btn btn-primary btn-lg btn-block">Sign Up</button>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
