{% extends 'user/base.html' %}

{% block content %}

<div class="container-fluid px-4">
    <h1 class="mt-4">Stocks</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Stocks</li>
    </ol>

    <form class="row mt-2 justify-content-start" method="post">
        <div class="col-xl-6 d-flex justify-content-center">
            <input class="form-control" name="stockIndex" type="text" placeholder="Index" aria-label="Index" />
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-chart-line"></i></button>
        </div>

        <div class="col-xl-2 d-flex justify-content-center">
            <input class="form-control" name="startDate" type="text" placeholder="Start Date" aria-label="Start Date" />
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-calendar"></i></button>
        </div>

        <div class="col-xl-2 d-flex justify-content-center">
            <input class="form-control" name="endDate" type="text" placeholder="End Date" aria-label="End Date" />
            <button class="btn btn-primary" id="btnNavbarSearch" type="button">
                <i class="fas fa-calendar"></i>
            </button>
        </div>

        <div class="col-xl-1 d-flex justify-content-center">
            <button class="btn btn-primary" id="btnNavbarSearch" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>

    <div class="row mt-2">

        <div class="col-xl-11">
            <div class="card mb-4">

                <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    Stock:  {{ meta['index'] | safe }}
                </div>

                <div class="card-body">
                    <canvas id="stocks" width="100%" height="40"></canvas>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<!-- <script src="{{ url_for('static', filename='assets/charts/stocks.js') }}"></script> -->
<script>
// Area Chart Example
var ctx = document.getElementById("stocks");

var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: {{ meta['labels'] | safe }},
    datasets: [{
      label: "Sessions",
      lineTension: 0.3,
      backgroundColor: "rgba(2,117,216,0.2)",
      borderColor: "rgba(2,117,216,1)",
      pointRadius: 5,
      pointBackgroundColor: "rgba(2,117,216,1)",
      pointBorderColor: "rgba(255,255,255,0.8)",
      pointHoverRadius: 5,
      pointHoverBackgroundColor: "rgba(2,117,216,1)",
      pointHitRadius: 50,
      pointBorderWidth: 2,
      data: {{ meta['values'] | safe }},
    }],
  },
  options: {
    scales: {
      xAxes: [{
        time: {
          unit: 'date'
        },
        gridLines: {
          display: true
        },
        ticks: {
          maxTicksLimit: 7
        }
      }],
      yAxes: [{
        //ticks: {
        //  min: 0,
        //  max: 40000,
        //  maxTicksLimit: 5
        //},
        gridLines: {
          color: "rgba(0, 0, 0, .125)",
        }
      }],
    },
    legend: {
      display: false
    }
  }
});
</script>
{% endblock %}