{% extends '/user/base.html' %}

{% block content %}

<form class="container" method="post">

    <div class="row">

      <div class="col-sm">
        <h4>Help</h4>
      </div>

      <div class="col-sm-1"></div>

      <div class="col-sm-2">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">Index</div>
            </div>
            <input type="text" class="form-control" name="stockIndex" id="stockIndex" placeholder="^FCHI">
        </div>
      </div>

      <div class="col-sm-3">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">Start Date</div>
            </div>
            <input type="text" class="form-control" name="startDate" id="startDate" placeholder="2022-01-12">
        </div>
      </div>

      <div class="col-sm-3">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">End Date</div>
            </div>
            <input type="text" class="form-control" name="endDate" id="endDate" placeholder="2022-02-06">
        </div>
      </div>

      <div class="col-sm-1">
        <button type="submit" class="btn btn-primary">Refresh</button>
      </div>
    </div>

    <div class="row">
        <div class="col-sm-1">
        </div>

        <div class="col-sm jumbotron jumbotron-fluid" style="background:rgb(255,255,255)">
            <canvas id="chart" width="400" height="200"></canvas>
        </div>
    </div>

</div>

{% endblock %}
