{% extends '/user/base.html' %}

{% block content %}

<form class="container-fluid" method="post">

    <div class="row">

      <div class="col-sm">
        <h4>Stocks</h4>
      </div>

      <div class="col-sm-1"></div>

      <div class="col-sm-2">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">Index</div>
            </div>
            <input type="text" class="form-control" name="stockIndex" id="stockIndex" placeholder="^FCHI">
        </div>
      </div>

      <div class="col-sm-3">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">Start Date</div>
            </div>
            <input type="text" class="form-control" name="startDate" id="startDate" placeholder="2022-01-12">
        </div>
      </div>

      <div class="col-sm-3">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">End Date</div>
            </div>
            <input type="text" class="form-control" name="endDate" id="endDate" placeholder="2022-02-06">
        </div>
      </div>

      <div class="col-sm-1">
        <button type="submit" class="btn btn-primary">Refresh</button>
      </div>
    </div>

    <div class="row justify-content-end">

        <div class="col">

            <div class="row jumbotron" style="background:rgb(255,255,255)">
                <h4>{{ meta['index'] }}</h4>
                {{ meta['values'][0] }}
                {{ meta['values'][-1] - meta['values'][0] }}
            </div>

            <div class="row">
                <div class="col-sm jumbotron" style="background:rgb(255,255,255)">
                </div>
            </div>

        </div>

        <div class="col-md-auto"></div>

        <div class="col-sm-9 jumbotron" style="background:rgb(255,255,255)">
            <canvas id="chart"></canvas>
        </div>

    </div>

</div>

{% endblock %}

{% block script %}

<script>
    var mychart = document.getElementById("chart").getContext("2d");

    var lineChart = new Chart(mychart, {
        type: "line",
        data: {
            labels: {{ meta['labels'] | safe }},
    datasets: [
        {
            data: {{ meta['values'] | safe }},
        fill: false,
        borderColor: "rgb(75, 192, 192)",
        lineTension: 0.1
                }
    ]
        },
    options: {
        legend: {
            display: false
        },
        responsive: true
    }
    })
</script>

{%- endblock script %}